{% extends 'base.html' %}
{% load static %}


{% block content %}


<style>

.container {
  padding:0;
  margin:0, auto;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

/* 게시판 각각 정사각형으로 오밀조밀하게 만들어줌 */
.container img {
    width: 7rem ;
    height :7rem;
    /* 오브젝트커버 이거 없으면 사진이 크기에 뭉개져서 들어감 이걸 하면 그 사이즈안에있는겄 빼고는 짤라냄 */
    object-fit:cover;
    border-radius: 1rem;
}

</style>
{% if project_list %}
<div class="container">
  <!-- 각 게시판들 -->
  {% for project in project_list %}
  <a href="{% url 'projectapp:detail' pk=project.pk%}">
    {% include 'snippets/card_project.html' with project=project %}
  </a> 
  {% endfor %}
</div> 
<script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
<div class="text-center">
  <h1>No Project YET!</h1>
</div>
{% endif %}

{% include 'snippets/pagination.html' with page_obj=page_obj %}


<div style="text-align: center;">
  <a href="{% url 'projectapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
    Create Project!
  </a>
</div>



{% endblock %}